[submodule "third-party/AndroidStaggeredGrid"]
	path = third-party/AndroidStaggeredGrid
	url = https://github.com/jiawenzhang/AndroidStaggeredGrid.git
[submodule "third-party/facebook-android-sdk"]
	path = third-party/facebook-android-sdk
	url = https://github.com/facebook/facebook-android-sdk.git
[submodule "third-party/Parse"]
	path = third-party/Parse
	url = https://github.com/jiawenzhang/Parse.git
[submodule "third-party/TokenAutoComplete"]
	path = third-party/TokenAutoComplete
	url = https://github.com/jiawenzhang/TokenAutoComplete.git
