<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wish.wishlist"
    android:versionCode="26"
    android:versionName="1.2.3" >

    <!--
    min sdkversion earlier than 4 will implicitly require WRITE_EXTERNAL_STORAGE and READ_PHONE_STATE 
    user permission. set the min version >= 4 to avoid that
    -->
    <!--
        <uses-sdk android:minSdkVersion="8"
            android:targetSdkVersion="17" />
    -->
    <!-- 8 is android 2.2.x FROYO -->
    <!-- 17 is android 4.2.x  JELLY BEAN -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- permission for Parse push notification -->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->

    <!--<permission-->
        <!--android:name="com.wish.wishlist.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->

    <!--<uses-permission android:name="com.wish.wishlist.permission.C2D_MESSAGE" />-->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".WishlistApplication"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/Theme.WishlistTheme"
        tools:node="replace" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Google Analytics Version v4 needs this value for easy tracking, parsing this will cause app freeze -->
        <!--
                    <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
                    android:resource="@xml/global_tracker" />
        -->

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
                    <activity android:name=".WishListLogin"
                          android:label="@string/app_name"
                          android:theme="@style/ToDoTheme">
        -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->


        <!-- </activity> -->


        <!--
            	    <activity android:name=".WishListLoginReal">
                </activity>
        -->
        <!-- The default activity of the app.  Can also display search results. -->
        <activity
            android:name=".wish.MyWishActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WishlistTheme" >

            <!-- android:launchMode="singleTask"> -->


            <!-- <meta-data android:name="android.app.default_searchable" -->
            <!-- android:value=".WishListSearchEngine" /> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->


            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Points to search_wish_searchable meta data. -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_wish_searchable" />
        </activity>
        <activity
            android:name=".wish.EditWishActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".wish.AddWishActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".wish.AddWishFromActionActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PreferenceActivity"
            android:label="Settings"
            android:theme="@style/Theme.WishlistTheme" >

        </activity>
        <activity
            android:name=".wish.MyWishDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".wish.FriendWishDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".activity.FullscreenPhotoActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".activity.PostToSNSActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.FacebookPostActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- <activity android:name=".WishListSearchEngine" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/ToDoTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data android:name="android.app.search_wish_searchable" -->
        <!-- android:resource="@xml/search_wish_searchable"/> -->
        <!-- </activity> -->

        <activity
            android:name=".activity.MapActivity"
            android:label="Map"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".tag.FindTagActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".tag.AddTagActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WishlistTheme" >
            <!-- TagsCompletionView crashes on screen orientation, this is a workaround -->
        </activity>
        <activity
            android:name=".tag.AddTagFromEditActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WishlistTheme" >
            <!-- TagsCompletionView crashes on screen orientation, this is a workaround -->
        </activity>
        <activity
            android:name=".feature.NewFeatureFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".activity.CropperActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>

        <activity
            android:name=".friend.FriendsActivity"
            android:label="Friends"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".friend.FindFriendsActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.WishlistTheme" >

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Points to search_wish_searchable meta data. -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_people_searchable" />
        </activity>
        <activity
            android:name=".friend.FriendRequestActivity"
            android:label="@string/invitations"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".wish.FriendsWishActivity"
            android:label=""
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <!-- <provider android:name="com.android.wishlist.defaultphotoprovider" -->
        <!-- android:authorities="com.android.wishlist.provider.defaultphotoprovider"> -->
        <!-- </provider> -->


        <!-- <provider android:name="com.google.provider.NotePad" -->
        <!-- android:authorities="com.google.provider.NotePad"> -->
        <!-- </provider> -->


        <!--
        Fixme: for sdk 4.6
        <activity android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/applicationId" />

        <provider android:authorities="com.facebook.app.NativeAppCallContentProvider221345307993103"
            android:name="com.facebook.NativeAppCallContentProvider"
            android:exported="true" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhnVZB5q0JznTklAmGWaEu5OWj06Nz9kk" />

        <activity
            android:name=".login.UserLoginActivity"
            android:label="app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name=".login.ParseLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WishlistTheme" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_application_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--<service android:name="com.parse.PushService" />-->
        <!--&lt;!&ndash; Fixme: use our own receiver for non GCM push &ndash;&gt;-->
        <!--<receiver android:name="com.parse.ParseBroadcastReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; <receiver android:name="com.parse.ParsePushBroadcastReceiver" &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".sync.PushBroadcastReceiver"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name="com.parse.GcmBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--&lt;!&ndash; IMPORTANT: Change "com.parse.starter" to match your app's package name. &ndash;&gt;-->
                <!--<category android:name="com.wish.wishlist" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wish.wishlist.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
